{% extends "site_base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Fantasy Football on Glass</h1>
<div id="leagues" class="leagues"></div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-6">
            <form id="add_league_form" class="add_league_form" action="/api/leagues/" method="POST" role="form">{% csrf_token %}
                <div class="form-group">
                    <label for="league_url">League URL:</label>
                    <input name="league_url" class="form-control" id="league_url_field" placeholder="Enter League URL">
                </div>
                <select name="league_type" class="form-control" id="league_type_field">
                    <option value="ESPN">ESPN</option>
                </select>
                <button type="submit" class="btn btn-primary">Add League</button>
            </form>
        </div>
    </div>
{% endblock %}